.index {
  max-height: calc(100vh - 78px);
  margin: 30px 0;
  overflow-y: auto;
  & > .title {
    font-size: 16px;
    color: #333;
    margin: 0 24px;
    span {
      font-size: 12px;
      color: #38a4ee;
      margin-left: 2px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  & > .census-list {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0 16px;
    .pageviews, .articles, .comments, .users {
      flex: 1;
      padding: 26px 30px 12px;
      border-radius: 6px;
      margin: 20px 8px 0;
      cursor: pointer;
      .name {
        letter-spacing: 1px;
        font-size: 12px;
        color: #FFF;
        .anticon {
          margin-right: 4px;
        }
      }
      .nums {
        font-size: 32px;
        color: #FFF;
        margin-top: 30px;
      }
    }
    .pageviews {
      background: linear-gradient(to top right, rgb(97,188,250), rgb(43,153,251));
      box-shadow: 0 4px 10px #b5d9fc;
    }
    .articles {
      background: linear-gradient(to top right, rgb(166,170,246), rgb(139,138,243));
      box-shadow: 0 4px 10px #bebee7;
    }
    .comments {
      background: linear-gradient(to top right, rgb(107,240,228), rgb(94,214,203));
      box-shadow: 0 4px 10px #a8f1eb;
    }
    .users {
      background: linear-gradient(to top right, rgb(242,148,150), rgb(239,116,112));
      box-shadow: 0 4px 10px #f3bab8;
    }
  }
  .website {
    background: #FFF;
    border-radius: 6px;
    margin: 24px 24px 0;
    overflow: hidden;
    .form {
      margin: 26px;
      border: 1px solid #f0f0f0;
      border-bottom: none;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          display: flex;
          font-size: 13px;
          border-bottom: 1px solid #f0f0f0;
          line-height: 36px;
          text-indent: 8px;
          & > div:nth-child(2n + 1) {
            flex: 1 1 0%;
          }
          & > div:nth-child(2n) {
            flex: 2 1 0%;
          }
          & > div + div {
            border-left: 1px solid #f0f0f0;
          }
          & > div {
            transition: 0.3s;
            &:hover {
              background: #fafafa;
            }
          }
        }
      }
    }
  }
  .update {
    margin: 20px 24px 0;
    background: #FFF;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    color: #000;
    span {
      font-size: 12px;
      color: #38a4ee;
      margin-left: 2px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}