.nav {
  display: block;
  background: rgb(56,164,238);
  & > .contain {
    display: flex;
    padding: 5px 10px;
    button /deep/ {
      .MuiButton-label {
        color: #FFF;
      }
    }
    .logo {
      width: 38px;
    }
  }
}