.nav {
  display: block;
  background: rgb(56,164,238);
  padding: 8px 10px;
  .menu /deep/ {
    .ant-btn-link {
      color: #FFF;
    }
    .ant-btn-link:hover, .ant-btn-link:focus {
      color: #FFF;
    }
  }
}