.nav {
	display: flex;
	background: rgb(56, 164, 238);
	padding: 13px 10px;
	justify-content: flex-end;

	.head-menu {
		display: flex;
		color: #FFF;
		align-items: center;
		margin-right: 12px;

		.go-back {
			cursor: pointer;
		}

		.logout {
			margin-left: 26px;
			cursor: pointer;
		}

		.user {
			margin-left: 30px;
			cursor: pointer;
		}
	}
}