.blog-contain {
  padding: 20px 0;
  margin: 30px 25px;
  background: #FFF;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  & > .table {
    padding: 0 26px;
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
      padding: 12px 16px;
    }
    .ant-btn-sm {
      font-size: 12px;
    }
  }
  & > .search {
    margin: 0 26px 20px;
    display: flex;
    justify-content: center;
    .ant-input-group-wrapper {
      width: 500px;
    }
  }
}